* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: peru;
    height: 70%;
    width: 100%;
    clip-path: polygon(1% 0, 100% 0%, 100% 49%, 0% 100%);
    position: absolute;
}